---
import Legal from "@components/Legal.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <main class="">
    <div class="site-container">
      <section class="pt-[130px] pb-24 px-4">
        <!-- TEXT -->
        <div class="text-[#4a4a4a] text-sm leading-[22px]">
          <p class="">
            Cyprus has joined the European Union in 2004 and the Eurozone on 1st
            January 2008. When compared with similar international business
            centers, Cyprus has to offer the following advantages and
            opportunities:
          </p>

          <!-- lists -->

          <div class="flex justify-between py-6 gap-4 mb-4">
            <ul class="w-1/2 pl-10">
              <li class="list-disc">
                Cyprus is one of the most attractive investment destinations.
                High profile companies and high net worth individuals have
                presence in Cyprus.
              </li>
              <li class="list-disc">
                Excellent geographical position, well developed infrastructure
                and one of the countries with the lowest crime rates (0.9218 per
                100 persons) within the European Union.
              </li>
            </ul>
            <ul class="w-1/2 pl-10">
              <li class="list-disc">
                Friendly, highly qualified, experienced and commercially
                oriented workforce.
              </li>
              <li class="list-disc">
                Excellent international educational system and internationally
                recognized academic institutions.
              </li>
              <li class="list-disc">
                Overall, safe and welcoming environment with excellent quality
                of life.
              </li>
            </ul>
          </div>
        </div>

        <!-- Corporate Tax -->
        <div class="text-[#4a4a4a]">
          <h3 class="text-2xl mb-3 font-bold">Corporate Tax: 12.5%</h3>
          <p class="text-sm leading-[22px] mb-6">
            Personal Income Tax:<br />
            €0 – €19,500 0%<br />
            €19,501 – €28,000 20%<br />
            €28,001 – €36,300 25%<br />
            €36.301 – €60,000 30%<br />
            €60,001 and over 35%
          </p>
          <p class="text-sm leading-[22px]">
            Value Added Tax: 19%<br />
            Capital Gain Tax: 20%
          </p>
        </div>

        <!-- General Health System -->
        <div class="text-[#4a4a4a] mt-12">
          <h3 class="text-2xl mb-3 font-bold">
            General Health System (GHS) Contributions:
          </h3>
          <p class="text-sm leading-[22px] mb-6">
            Contributions relating to the implementation of the General Health
            System (GHS) started from 1 March 2019, and will increase from 1
            March 2020 as per the table below:
          </p>

          <!-- table -->

          <div class="mt-16">
            <table class="table-auto text-sm leading-[22px]">
              <thead>
                <tr>
                  <th align="left"
                    ><strong class="text-[#ac0060]">Ref</strong>
                  </th>
                  <th align="left"
                    ><strong class="text-[#ac0060]">Category</strong>
                  </th>
                  <th align="left"
                    ><strong class="text-[#ac0060]">Applied On</strong>
                  </th>
                  <th align="left"
                    ><strong class="text-[#ac0060]">Phase A</strong>
                  </th>
                  <th align="left"
                    ><strong class="text-[#ac0060]">Phase B</strong>
                  </th>
                </tr>
              </thead>
              <tbody>
                <!-- date row -->
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>
                    <p class="text-[#ac0060] pr-2 py-2">
                      <strong>01/03/2019</strong>
                    </p>
                  </td>
                  <td>
                    <p class="text-[#ac0060] pr-2 py-2">
                      <strong>01/03/2020</strong>
                    </p>
                  </td>
                </tr>

                <!-- empty row for spacing -->
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>
                    <p class="pr-2 py-2"></p>
                  </td>
                  <td>
                    <p class="pr-2 py-2"></p>
                  </td>
                </tr>

                <!-- row 1 -->
                <tr class="border-t border-gray-300">
                  <td><p class="pr-2 py-2"><strong>(i)</strong></p></td>
                  <td><p class="pr-2 py-2">Employees</p></td>
                  <td><p class="pr-2 py-2">Own emoluments</p></td>
                  <td><p class="pr-2 py-2">1,70%</p></td>
                  <td><p class="pr-2 py-2">2,65%</p></td>
                </tr>
                <!-- row 2 -->
                <tr class="border-t border-gray-300">
                  <td><p class="pr-2 py-2"><strong>(ii)</strong></p></td>
                  <td><p class="pr-2 py-2">Employers</p></td>
                  <td><p class="pr-2 py-2">Employees’ emoluments</p></td>
                  <td><p class="pr-2 py-2">1,85%</p></td>
                  <td><p class="pr-2 py-2">2,90%</p></td>
                </tr>

                <!-- row 3 -->
                <tr class="border-t border-gray-300">
                  <td><p class="pr-2 py-2"><strong>(iii)</strong></p></td>
                  <td><p class="pr-2 py-2">Self-employed</p></td>
                  <td><p class="pr-2 py-2">Own income</p></td>
                  <td><p class="pr-2 py-2">2,55%</p></td>
                  <td><p class="pr-2 py-2">4,00%</p></td>
                </tr>

                <!-- row 4 -->
                <tr class="border-t border-gray-300">
                  <td><p class="pr-2 py-2"><strong>(iv)</strong></p></td>
                  <td><p class="pr-2 py-2">Pensioners</p></td>
                  <td><p class="pr-2 py-2">Pension</p></td>
                  <td><p class="pr-2 py-2">1,70%</p></td>
                  <td><p class="pr-2 py-2">2,65%</p></td>
                </tr>

                <!-- row 5 -->

                <tr class="border-t border-gray-300">
                  <td><p class="pr-2 py-2"><strong>(v)</strong></p></td>
                  <td><p class="pr-2 py-2">Persons holding office</p></td>
                  <td><p class="pr-2 py-2">Officers’ Remuneration</p></td>
                  <td><p class="pr-2 py-2">1,70%</p></td>
                  <td><p class="pr-2 py-2">2,65%</p></td>
                </tr>

                <!-- row 6 -->
                <tr class="border-t border-gray-300">
                  <td><p class="pr-2 py-2"><strong>(vi)</strong></p></td>
                  <td
                    ><p class="pr-2 py-2">
                      Persons earning rental, interest,<br />
                      dividend and other income
                    </p>
                  </td>
                  <td>
                    <p class="pr-2 py-2">
                      Rental, Interest, Dividend<br />
                      Income etc
                    </p>
                  </td>
                  <td><p class="pr-2 py-2">1,70%</p></td>
                  <td><p class="pr-2 py-2">2,65%</p></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </section>
    </div>

    <Legal />

    <div class="site-container">
      <section class="py-[130px] text-[#4a4a4a]">
        <h3 class="text-[40px] leading-[46px] font-bold mb-9">
          Cyprus tax facts brief
        </h3>

        <ul class="pl-10 text-sm leading-[22px]">
          <li class="list-disc">
            Cyprus is a country that can help in avoiding high taxation, but not
            a country for tax evasion purposes. As Cyprus is not an Offshore
            Zone, it is therefore not included in any of the ‘blacklists’. On
            the contrary, since Cyprus is an EU member since 2004, Cypriot
            companies are European companies and are enjoying all the rights and
            benefits of the EU, simply under considerably lower level of
            taxation of Cyprus.
          </li>
          <li class="list-disc">
            The <a
              class="uppercase text-[#ac0060] hover:text-[#cf66a8] font-semibold"
              href="https://www.finexpertiza.cy/corporate-tax-in-cyprus/"
              >corporate tax</a
            > rate of 12.5% is one of the lowest in the European Union. Thanks to
            investor-friendly tax system as well as special tax deductions and rebates,
            effective tax rate may be much lower than this already low tax rate.
          </li>
          <li class="list-disc">
            The gross amount of any royalty, premium, compensation or other
            income derived from sources within Cyprus by any person not being a
            tax resident is subject to a withholding tax of 10%. Because of
            Cyprus’ DTTs and the EU Directives, this percentage can be reduced,
            which makes establishing a <a
              class="uppercase text-[#ac0060] hover:text-[#cf66a8] font-semibold"
              href="https://www.finexpertiza.cy/royalty-companies/"
              >royalty company</a
            > in Cyprus very fiscally attractive.
          </li>
          <li class="list-disc">
            Attractive Permanent Establishment (PE) rules and generous PE
            provisions are available in DTTs network.
          </li>
          <li class="list-disc">
            There is no withholding tax on interest, dividends nor on royalties
            paid abroad, if intellectual property is not used in Cyprus.
          </li>
          <li class="list-disc">
            80% exemption of the net royalty income from owned intangible assets
            apply, as well as 80% of the net profit earned from the disposal of
            intangible assets, if certain criteria are met.
          </li>
          <li class="list-disc">
            The <a
              class="uppercase text-[#ac0060] hover:text-[#cf66a8] font-semibold"
              href="https://www.finexpertiza.cy/2018-interest-rates-for-nid-announced-by-the-cyprus-tax-authorities/"
              >Notional Interest Deduction</a
            > is granted annually on new capital issued from 1st January 2015. This
            deduction can apply for up to 80% of the taxable income of the Cyprus
            company.
          </li>
          <li class="list-disc">
            Invoices from offshore companies are acceptable in Cyprus company’s
            books and payments to offshore companies bear no withholding tax.
          </li>
          <li class="list-disc">
            There is a Group Relief availability (75% holding).
          </li>
          <li class="list-disc">
            There are tax-free reorganizations (cross-border permitted).
          </li>
          <li class="list-disc">
            Tax-free corporate redomiciliation is permitted.
          </li>
          <li class="list-disc">
            There is a possibility for establishing an SE (European company).
          </li>
          <li class="list-disc">Possibility to obtain Advance Tax Ruling.</li>
          <li class="list-disc">
            The Capital Duty on the issue of share capital is 0.6% (this can
            easily be mitigated).
          </li>
          <li class="list-disc">
            A simplified system for obtaining a working visa for middle and
            senior level employees.
          </li>
          <li class="list-disc">
            Shipping Companies are subject to tax at 4.25%. However, a shipping
            company may be fully exempt from all direct taxes by selecting to
            pay taxes under the <a
              class="uppercase text-[#ac0060] hover:text-[#cf66a8] font-semibold"
              href="https://www.finexpertiza.cy/ship-registration/"
              >Tonnage Tax</a
            > regime.
          </li>
          <li class="list-disc">
            Low Employment Tax Obligations:
            <ol class="pl-10">
              <li class="list-decimal">
                No taxes are applicable on yearly personal income up to €19,500.
              </li>
              <li class="list-decimal">
                Tax credits are granted to employees who were not tax residents
                in Cyprus before commencement of their employment in Cyprus.
              </li>
              <li class="list-decimal">
                Relatively low contributions apply for the pension fund and
                other social fund contributions.
              </li>
            </ol>
          </li>
        </ul>

        <p class="pl-20 text-sm leading-[22px] mt-4 mb-7">
          <strong
            >All of the above three points combined can help in reducing labor
            costs for the companies that choose to transfer their domicile to
            Cyprus.
          </strong>
        </p>
        <ul class="pl-10 text-sm leading-[22px]">
          <li class="list-disc">
            Passive income (dividends, interest and partially rental income) of
            the individuals who become tax residents in Cyprus is exempt from
            taxation for 17 years.
          </li>
          <li class="list-disc">
            Income Tax exemptions on employment income apply for expatriate
            individuals relocating to Cyprus, at a rate of either 50% of the
            yearly employment income generated in Cyprus exceeding €100,000 for
            the period of ten years; or, at a rate of 20% (or €8,550 – whichever
            is lower) of the yearly income generated in Cyprus for the period of
            five years (up to 2020).
          </li>
          <li class="list-disc">
            There are added commercial value and monetary benefits due to the
            ability to register for EU VAT in Cyprus.
          </li>
          <li class="list-disc">
            An opportunity to acquire Cypriot Nationality for investors and
            directors of Cypriot companies, subject to specific conditions.
          </li>
        </ul>
      </section>
    </div>
  </main>
</Layout>

<style is:global>
  @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

  body {
    font-family: "Poppins", sans-serif;
  }
  .site-container {
    @apply w-full px-4 mx-auto sm:max-w-[540px] md:max-w-[720px] lg:max-w-[960px] xl:max-w-[1140px];
  }
</style>
