---
import Layout from "@layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <main class="site-container">
    <section class="pt-[130px] pb-10 px-4">
      <!-- TEXT -->
      <div class="text-[#4a4a4a] text-sm leading-[22px]">
        <p class="">
          Cyprus has joined the European Union in 2004 and the Eurozone on 1st
          January 2008. When compared with similar international business
          centers, Cyprus has to offer the following advantages and
          opportunities:
        </p>

        <!-- lists -->

        <div class="flex justify-between py-6 gap-4 mb-4">
          <ul class="w-1/2 pl-10">
            <li class="list-disc">
              Cyprus is one of the most attractive investment destinations. High
              profile companies and high net worth individuals have presence in
              Cyprus.
            </li>
            <li class="list-disc">
              Excellent geographical position, well developed infrastructure and
              one of the countries with the lowest crime rates (0.9218 per 100
              persons) within the European Union.
            </li>
          </ul>
          <ul class="w-1/2 pl-10">
            <li class="list-disc">
              Friendly, highly qualified, experienced and commercially oriented
              workforce.
            </li>
            <li class="list-disc">
              Excellent international educational system and internationally
              recognized academic institutions.
            </li>
            <li class="list-disc">
              Overall, safe and welcoming environment with excellent quality of
              life.
            </li>
          </ul>
        </div>
      </div>

      <!-- Corporate Tax -->
      <div class="text-[#4a4a4a]">
        <h3 class="text-2xl mb-3 font-bold">Corporate Tax: 12.5%</h3>
        <p class="text-sm leading-[22px] mb-6">
          Personal Income Tax:<br />
          €0 – €19,500 0%<br />
          €19,501 – €28,000 20%<br />
          €28,001 – €36,300 25%<br />
          €36.301 – €60,000 30%<br />
          €60,001 and over 35%
        </p>
        <p class="text-sm leading-[22px]">
          Value Added Tax: 19%<br />
          Capital Gain Tax: 20%
        </p>
      </div>
    </section>
  </main>
</Layout>

<style>
  @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

  body {
    font-family: "Poppins", sans-serif;
  }
  .site-container {
    @apply w-full px-4 mx-auto sm:max-w-[540px] md:max-w-[720px] lg:max-w-[960px] xl:max-w-[1140px];
  }
</style>
